<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="views/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" type="text/css" href="views/css/font-awesome.min.css"> <!-- load fontawesome -->
	<link rel="stylesheet" type="text/css" href="views/css/style2.css"> <!-- load customs style -->
	<title>View Appraisal Photos</title>
	<!-- <script src="<%= hosturl %>/scripts/bootstrap.min.js"></script> -->
	<script src="scripts/jquery-2.2.4.js"></script>
	<script src="scripts/bootstrap.min.js"></script>
</head>

<!-- The information between the BODY and /BODY tags is displayed.-->
<body>
<div style="padding-left: 55px;">
<span><h1>Here are the photos for the case of&nbsp;<%= key %>, <%= pnum %>&nbsp;in total</h1></span>
</div>

<ul>
<!-- loop over images and render them -->
  <% files.forEach((file) => { %>
   <!--<div id="container"> -->
   <div class="col-sm-6">
        <div class="thumbnail">
		<img src = <%= file %> alt = "photo placeholder thumbnail">
		</div>
   </div>
   
  <% }) %>
  
</ul>

</body> 
</html>
